body{
  background-color: #E8EAF6;
  font-size: 22px;
}

/*table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 80%;
  height: 100%;
  margin-left: 10%;
  padding: 10px 10px 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .username {
   background-color: #E8EAF6;
   border-top: solid 1px grey;
 }*/

 th, tr, td {
   padding: 10px 10px 10px 10px;
 }*/
 tr {
   border: 1px solid black;
 }

 .log {
   background-color: #E8EAF6;
   padding-top: 10px;
   border-top: solid 1px grey;
 }



.topandbottom {
  width: 100%;
  padding: 10px 10px 10px 10px;
  color: white;
  text-align: center;
  background-color: #283593;
}

h2 {
  text-align: left;
  color: white;
  background-color: #3F51B5; /* Mozda #E8EAF6 */
  padding-left: 2%;
}

textarea {
  resize: vertical;
  width: 90%;
  border-top: solid 1px  #1A237E;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mainUnos, .kod{
  height: 400px;
}
.tekstZadatka{
  height: 150px;
}
.output{
  height: 50px;
}

.notfound{
  height: 60%;
}

/* Linkovi_________________ */
a {
    display: inline-block;
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited{
  color: white;
}

a:hover {
  background-color: #1A237E;
  color: white;
}


/* Buttoni_________*/
input[type=submit], button {
  margin-left: 5px;
  background-color: #304FFE;
  border: none;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
input[type=submit]:hover, button:hover {
  background-color: #1A237E;
}
